 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="title">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled text-center">
                        <li class="fa fa-keyboard-o fa-4"></li>
                        <li>I am a full-stack, Philadelphia-area Rails developer with a passion for building useful, meaningful things with code.</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul class="list-unstyled text-center">
                        <li class="fa fa-cogs fa-4"></li>
                        <li>In my former career as an attorney I developed practical, problem-solving skills that I now apply to web-development scenarios. </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled text-center">
                        <li class="fa fa-lightbulb-o fa-4"></li>
                        <li>Let me show you some stuff that demonstrates how I've married the two, except not bc I don't wanna be a lawyer anymore. Harumph.</li>
                    </ul>
                </div>
            </div>
            <div class="row resume-link">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="https://resume.creddle.io/resume/enukxhwhki9" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-text"></i> See My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>