 <!-- Blog Section -->
    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="title">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <ul class="list-unstyled text-center">
                        <li class="fa fa-keyboard-o fa-4"></li>
                        <li>Check out my running account of the trials, travails, tribulations and sometimes fun times I've experienced with web technology and the like.</li>
                    </ul>

                </div>
                <div class="col-lg-4">
                    <ul class="list-unstyled text-center">
                        <li class="fa fa-thumbs-o-up"></li>
                        <li>Hopefully, you'll find these posts educational and entertaining.  I cut the swear words down quite a bit. All for you. You're welcome. :)</li>
                    </ul>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="../blog" class="btn btn-lg btn-outline">
                        <i class="fa fa-pencil"></i> Latest Entry
                    </a>
                </div>
            </div>
        </div>
    </section>