 <!-- Blog Section -->
    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Philadelphia-area web-developer with a passion for building beautiful, meaningful things.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you'd rather talk shop. Contact Me about my skills or just ask about some of my current projects that haven't yet made the front page of this site!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="../blog" class="btn btn-lg btn-outline">
                        <i class="fa fa-pencil"></i> Latest Entry
                    </a>
                </div>
            </div>
        </div>
    </section>