<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <img class="img-responsive" src="/assets/img/placeholder.png" alt="">
      </div>
      <div class="col-md-4">
        <p></p>
        <div class ="intro-text">
          <div id="typed-text"></div>
          <p></p>
          <p>I'm a former attorney and a current full-stack, Ruby on Rails software developer.
          </p>
          <p>
            <a href="mailto:dstanfield.esq@gmail.com">AMA</a> about my over six years experience in building scalable, robust web applications in the areas of lead marketing, IoT, ecommerce and fintech.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
