    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4">
                    <img class="img-responsive" src="../img/header/placeholder.png" alt="">
                </div>
                <div class="col-md-4">
                    <!-- <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">Jr. Web Developer - Sr. Web Surfer - Lover of Technology</span>
                    </div> -->
                    <p></p>
                    <div class ="intro-text"></div>
                </div>
            </div>
        </div>
    </header>