
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="../img/portfolio/storyvine.png" alt="...">
                      <div class="carousel-caption">
                          <p>StoryVine is web application designed to allow users to share ideas and collaborate around the creative process of writing.</p>
                      </div>
                    </div>
                    <div class="item">
                      <img src="../img/portfolio/nyan-cat.png" alt="...">
                      <div class="carousel-caption">
                          <p>A javascript game incorporating four-directional movement and boundary detection.</p>
                      </div>
                    </div>
                    <div class="item">
                      <img src="http://placehold.it/1200x315" alt="...">
                      <div class="carousel-caption">
                          <p>Caption Text</p>
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                   <!--  <span class="glyphicon glyphicon-chevron-left"></span> -->
                   <i class="fa fa-chevron-left   "></i>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
            </div>
        </div>

    </section>