html {
    height: 100%;
    margin: 0;
    padding: 0px;
    width:100%;
}

body {
    background-color: white;
    color: black;
    font-family: Arial;
    height: 100%;
    margin: 0;
    padding: 0px;
    width: 100%;
}


/*==========================================
    STYLE SETTINGS FOR NAVIGATION CONTAINER
==========================================*/

.navigation_container {
    background-color: rgba(5, 34, 97,0.5);
    height: 50px;
    position: fixed;
    width: 100%;
}

.navigation_container a {
    color: white;
    text-decoration: none;
}

.navigation_container a:hover {
    text-decoration: none;
    color: #FFD200;
}

#navigation_logo {
    margin-left: 10px;
    float: left;
}

h3#navigation_logo {
    margin: 0;
    float:left;
    display:inline;
    padding-left:15px;
    font-size: 2em;
    font-family: Oswald;
    color: white;
}

#nav_menu {
    float: right;
    font-family: Oswald;
}

#navigation_menu li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

/*====================================
MASTHEAD CONTAINS LARGE IMAGE
=====================================*/

div.masthead {
    background-image: url("../images/blog_masthead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    font-family: "Architects Daughter";
    height: 400px;
    padding: 0;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.masthead p {
    text-align: left;
    padding-left: 20px;
    font-size: 5em;
    color: white;
    margin-top: 150px;
    /*background-color: rgba(3, 3, 4,0.5);*/
    background-image: linear-gradient(to right, rgba(3, 3, 4,0.5), rgba(3, 3, 4,0));
    background-image: -webkit-linear-gradient(left, rgba(3, 3, 4,0.5), rgba(3, 3, 4,0));
    background-image: -o-linear-gradient(right, rgba(3, 3, 4,0.5), rgba(3, 3, 4,0));
    background-image: -moz-linear-gradient(to right, rgba(3, 3, 4,0.5), rgba(3, 3, 4,0));
}
/*=============================================
         CONTENT STYLINGS START HERE
=============================================*/

.blog_container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 70%;
    float: left;
    display: inline-block;
    padding-left: 2px;
}
.content a:link {
    color: #0B126D;
    text-decoration: none;
}
.content a:visited {
    color: gray;
    text-decoration: none;
}
.content a:hover {
    color: #D2AD00;
}


.content h1, h2 {
    font-family: Oswald;
}


.content h3 {
    font-family: "Architects Daughter";
}

.blog p {
    padding-left: 5px;
}

.all_posts_container {

    width: 27%;
    float: right;
    position: fixed;
    /*clear: both;*/
    display: inline-block;


}

.link_list li {

    list-style-type: none;
}

.link_list a {
    text-decoration: none;
}



.all_posts_container h2 {
    text-align: center;
    margin: auto;

}

.link_list li {
    list-style-type: none;
}

.footer {
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: rgba(3,3,4,0.5);

}

ul.social_media_links {
    margin: auto;
}
.social_media_links li {
    list-style-type: none;
    display: inline;
}

.content img {
    display: block;
    margin: auto;
}

/*===============================================
              SOCIAL MEDIA FOOTER
===============================================*/

.social_media {
    display: flex;
}


ul.social_media_links {
     align-self: auto;
     margin: auto;
}
.social_media_links li {
    list-style-type: none;
    display: inline-block;
    margin:10px;
}

.social_media_links li:hover {
    background-color: none;
}

#about_me_blurb {
    text-align: center;
}