.blog p {
  text-align: left;
  font-size: 1em;
}
#line_break {
  border: 1px solid grey;
  width: 98%;
  margin: auto;
}
.blog #title_font {}

.blog #date_font {}

h4 {
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #CBFCC5;
}

a:hover {
  text-decoration: none;
  color: #3F8EAB;

}

.blog h1 {
  font-family: "Open Sans Condensed";
}