 /* *{
border: 1px solid black
} */

html {
    font-family: Cabin;
    border: none;
    margin: 0;
    padding: 0;
    /*height: 100%;
    width: 100%; */
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/philadelphia_Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
a:link{
    text-decoration: none;
    color: #CBFCC5;
}
#header {
    /*background-color: #1E408A; */
    background-color: rgba(30,64,138,0.4);
    padding: none;
    height: 90px;
    /* opacity: 0.4; */
}
#header_logo {
    height: 80px;
    width: 500px;
    padding: none;
    display: inline;
}

#header p {
  height: 85px;
  width: 510px;
  margin: auto;
}

.heading_fonts img:hover {
    background-image: url("../images/name_logo_hover.png");
    height: 80px;
    width: 500px;
}
#navbar {
    float: right;
    height:25px;
    width:250px;
    padding-top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    /* width:  1020px; */
    margin: auto;
}
#navbar a {
    width: 60px;
    background-color: #1E408A;
    height: 25px;
    display: block;
}
#navbar li {
    display: inline;
    padding-left: 0px;
    float: right;
}

#navbar a:hover {
    background-color: white;
}
#outer_navbar {
    width: 1020px;
    height:25px;
    margin: auto;
    clear: both;
    background-color: none;
    padding-top: 20px;
}
#content_frame {
    height: 600px;
    width: 1020px;
    background-color: none;
    margin: auto;
    padding-bottom: 20px;
}
#content_left {
    float: left;
    height: 595px;
    width: 66%;
    display: inline;
    background-color: rgba(63,142,171,0.4);
    /*border: 1.5px solid white;*/
    /*font-size: 3em;*/

}
#content_left {
    text-align: left;
    margin: auto;
}
#content_right {
    float: right;
    height: 595px;
    width: 33%;
    display: inline;
    background-color: rgba(63,142,171,0.4);
    /*border: 1.5px solid white;*/
}

 #content_right_text {
    text-align: center;
 }
#content_right_text a:hover {
    color: #55BDAA;
}
#dionne_Picture {
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    padding-top: 0;
    /*border: 2.5px solid black;*/
}
#footer {
    clear:both;
    border: none;
    height: 90px;
    background-color: rgba(30,64,138, 0.4);
}

#footer ul li {
    background-color: #CBFCC5;

}

#footer ul li:hover {
    background-color: #55BDAA;
}

#social_Media ul {
    height: 90px;
    padding: 0 0 0 0;
    width: 100%;
}

#social_Media li {
    display: inline-block;
    margin: auto;
    padding: 0 50 50 0;
    border: 1px solid black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #1E408A;
}
.heading_fonts {
    font-family: Droid Serif;
    font-size: 2em;
    padding: 0;
    margin: 0;
}
#header_font {
    text-align: left;
    padding: 0;
}

li a img {
    height: 80px;
    width: 80px;

}

.blog p {
  text-align: justify;
  font-size: 1em;
}

#line_break {
  border: 1px solid grey;
  width: 90%;
  margin: auto;
}

.blog #title_font {}

.blog #date_font {}
.blog h1, h3 {
    text-align: left;
}
h4 {
    font-weight: bold;
}

