<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        <!-- Navigation -->
         <nav class="navbar navbar-default navbar-fixed-top">
             <div class="container">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <div class="navbar-header page-scroll">
                 <button type="button" class="navbar-logo">
                     <img src="../img/ds_logo_small.png" />
                 </button>
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                 </div>

                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav navbar-right">
                         <li class="hidden">
                             <a href="#page-top"></a>
                         </li>
                         <li class="page-scroll">
                             <a href="../index.html#about">About</a>
                         </li>
                         <li class="page-scroll">
                             <a href="../index.html#portfolio">Portfolio</a>
                         </li>
                         <li class="page-scroll">
                             <a href="#page-top">Blog</a>
                         </li>
                         <li class="page-scroll">
                             <a href="../index.html#contact">Contact</a>
                         </li>
                     </ul>
                 </div>
                 <!-- /.navbar-collapse -->
             </div>
             <!-- /.container-fluid -->
         </nav>
        {% include header.html %}
        {% include js.html %}
        <!-- Posts -->
        <div class="home">
          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Footer -->
        <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-12">

                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
                    <div class="col-lg-12">
                        Copyright &copy; Dionne Stanfield 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    </body>
</html>